* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}


header {
    padding: 50px 50px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
    background-position: 80%;
    z-index: 9999;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    list-style: none;
    flex-direction: row;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header nav ul li a:hover {
    background: white;
    border-radius: 15px;
    text-shadow: none;
  }

.header-banner {
    background-color: lightslategray;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    padding: 50px 50px
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  
}

.section-title {
  display: flex;
  width: 10%;
}

.flex-row {
  padding: 0 0 0 25px;
  width: 80%;
  border-left: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
} 

img {
  margin: 10px 0 0 10px;
  border-radius: 10px 10px 10px 10px;
  border: 5px solid cadetblue;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} 

.image-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  background-color: cadetblue;
  color: white;
  width: 150px;
  height: 100px;
}

.resize {
  width: 300px;
}

.run-buddy {
  size: 200px;
  display: flex;
}

a {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}