* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER SECTION */
header {
    padding: 50px 50px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-color: lightblue;
    background-size: cover;
    background-position: center;
    background-position: 80%;
    z-index: 9999;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    list-style: none;
    flex-direction: row;

}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
header nav ul li a:hover {
    background: white;
    border-radius: 15px;
    text-shadow: none;
  }

.header-banner {
    background-color: lightslategray;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    padding: 50px 50px
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* END HEADER SECTION */

/* FLEX BOX SECTION */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  
}

.section-title {
  display: flex;
  width: 10%;
  size: 36px;
}

.flex-row {
  padding: 0px 0 0 20px;
  width: 80%;
  border-left: 3px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
} 

.image-label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: cadetblue;
  border: 5px solid lightblue;
  color: white;
  width: 150px;
  height: 100px;
  text-align: center;
  margin: 0 0 20px 0
}

.run-buddy {
  display: flex;
  background-image: url(../assets/images/run-buddy.JPG);
  width: 100%;
  height: 700px;
  align-items: flex-end;
}

.placeholder-link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(../assets/images/placeholder1.png);
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  background-size: 100%;
}

.parksfinder-link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(../assets/images/parksfinder.JPG);
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  background-size: 100%;
}


a {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}